// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.sr_navbar {
    position: fixed;
    top: calc(50% - 180px);
    z-index: 2;
    right: 15px;
    list-style: none;
    text-align: right;

    > li {
        margin-bottom: 30px;
        > a {
            color: $brand-color;
            font-weight: 600;
            text-decoration: none;
            position: relative;
            transition: all ease-in-out .1s;

            &:hover,
            &:focus {
                color: $brand-color;
                
                &:before {
                    content: "-";
                    color: #333;
                    position: absolute;
                    left: -10px;
                    top: 0;
                }
            }

            
        }
    }
}