html { 
    font-size: $font-size;
 }
  body {
   font-family: $font-family;
   color: $font-color;
   font-size: 1.2em;
   background: $body-background;
 }
 h1,h2,h3,h4,h5,h6 {
     font-family:$font-header;
 }
 
 a {
     color: $primary;
 }