// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
$is-radius: 2px;

.btn {
  border-radius: $is-radius;
  border: 1px solid $gray-200;
  color: #ffffff;
  cursor: pointer;
  font-family: $text-font-stack;
  font-size: $font-size;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition: all ease-in-out .1s;

    &.is-hover,
    &:hover {
      text-decoration: none;
      color: #fff;
      opacity: 0.9;
    }

    &:disabled {
        color: #fff;
        background-color: transparent;
        cursor: not-allowed;
        opacity: 0.7;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: 0;
    }



    &.is-default {
      color: $gray-600;
      border-color: $gray-200;
      background-color: $gray-100;

      &:focus {
        box-shadow: 0 0 5px $gray-100;
      }

      &.is-outline {
        color: $gray-600;
      }
    }

    &.is-primary {
      border-color: $primary;
      background-color: $primary;

    &:focus {
      box-shadow: 0 0 5px $primary;
    }
    &.is-outline {
      color: $primary;
      border-color: $primary;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $primary;
      }
    }
  }


  &.is-secondary {
      border-color: $secondary;
      background-color: $secondary;

      &:focus {
        box-shadow: 0 0 5px $secondary;
      }
      &.is-outline {
        color: $secondary;
        border-color: $secondary;
        &:hover {
          opacity: 1;
          color: #fff;
          background-color: $secondary;
        }
      }
  }
  
  
  &.is-tertiary {
      border-color: $tertiary;
      background-color: $tertiary;

      &:focus {
        box-shadow: 0 0 5px $tertiary;
      }
      &.is-outline {
        color: $tertiary;
        border-color: $tertiary;
        &:hover {
          opacity: 1;
          color: #fff;
          background-color: $tertiary;
        }
      }
  }


  &.is-success {
    border-color: $success;
    background-color: $success;

    &:focus {
      box-shadow: 0 0 5px $success;
    }
    &.is-outline {
      color: $success;
      border-color: $success;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $success;
      }
    }
  }

  &.is-danger {
    border-color: $danger;
    background-color: $danger;

    &:focus {
      box-shadow: 0 0 5px $danger;
    }
    &.is-outline {
      color: $danger;
      border-color: $danger;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $danger;
      }
    }
  }

  &.is-info {
    border-color: $info;
    background-color: $info;

    &:focus {
      box-shadow: 0 0 5px $info;
    }
    &.is-outline {
      color: $info;
      border-color: $info;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $info;
      }
    }
  }

  &.is-warning {
    border-color: $warning;
    background-color: $warning;

    &:focus {
      box-shadow: 0 0 5px $warning;
    }
    &.is-outline {
      color: $warning;
      border-color: $warning;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $warning;
      }
    }
  }


  &.is-blue {
    border-color: $blue;
    background-color: $blue;

    &:focus {
      box-shadow: 0 0 5px $blue;
    }
    &.is-outline {
      color: $blue;
      border-color: $blue;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $blue;
      }
    }
  }
  &.is-indigo {
    border-color: $indigo;
    background-color: $indigo;

    &:focus {
      box-shadow: 0 0 5px $indigo;
    }
    &.is-outline {
      color: $warning;
      border-color: $warning;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $warning;
      }
    }
  }
  &.is-purple {
    border-color: $purple;
    background-color: $purple;

    &:focus {
      box-shadow: 0 0 5px $purple;
    }
    &.is-outline {
      color: $purple;
      border-color: $purple;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $purple;
      }
    }
  }
  &.is-pink {
    border-color: $pink;
    background-color: $pink;

    &:focus {
      box-shadow: 0 0 5px $pink;
    }
    &.is-outline {
      color: $pink;
      border-color: $pink;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $pink;
      }
    }
  }
  &.is-red {
    border-color: $red;
    background-color: $red;

    &:focus {
      box-shadow: 0 0 5px $red;
    }
    &.is-outline {
      color: $red;
      border-color: $red;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $red;
      }
    }
  }
  &.is-orange {
    border-color: $orange;
    background-color: $orange;

    &:focus {
      box-shadow: 0 0 5px $orange;
    }
    &.is-outline {
      color: $orange;
      border-color: $orange;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $orange;
      }
    }
  }
  &.is-yellow {
    border-color: $yellow;
    background-color: $yellow;

    &:focus {
      box-shadow: 0 0 5px $yellow;
    }
    &.is-outline {
      color: $yellow;
      border-color: $yellow;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $yellow;
      }
    }
  }
  &.is-green {
    border-color: $green;
    background-color: $green;

    &:focus {
      box-shadow: 0 0 5px $green;
    }
    &.is-outline {
      color: $green;
      border-color: $green;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $green;
      }
    }
  }
  &.is-teal {
    border-color: $teal;
    background-color: $teal;

    &:focus {
      box-shadow: 0 0 5px $teal;
    }
    &.is-outline {
      color: $teal;
      border-color: $teal;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $teal;
      }
    }
  }
  &.is-cyan {
    border-color: $cyan;
    background-color: $cyan;

    &:focus {
      box-shadow: 0 0 5px $cyan;
    }
    &.is-outline {
      color: $cyan;
      border-color: $cyan;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $cyan;
      }
    }
  }

  &.is-dark {
    border-color: $black;
    background-color: $black;

    &:focus {
      box-shadow: 0 0 5px $black;
    }
    &.is-outline {
      color: $black;
      border-color: $black;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $black;
      }
    }
  }

  &.is-gray {
    border-color: $gray-500;
    background-color: $gray-500;

    &:focus {
      box-shadow: 0 0 5px $gray-500;
    }
    &.is-outline {
      color: $gray-500;
      border-color: $gray-500;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $gray-500;
      }
    }
  }

  &.is-light {
    color: $gray-600;
    border-color: $gray-100;
    background-color: $gray-100;

    &:focus {
      box-shadow: 0 0 5px $gray-100;
    }
    &.is-outline {
      color: $gray-600;
      border-color: $gray-100;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $gray-100;
      }
    }
  }


  &.is-outline {
    background: transparent;
  }

  &.is-pill {
    border-radius: 25px!important;
  }


  &.is-large {
    font-size: 16px;
      padding: 12px 36px;
  }

  &.is-small {
      font-size: 12px;
      padding: 4px 12px;
  }

  &.is-block {
    display: block;
    width: 100%;
  }
  
  
   //button root
}




































/* .btn {
  border-radius: $is-radius;

  &.is-blue {
    color: #fff;
    background: $blue;
    border: 1px solid $blue;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($blue, 10%);
      border: 1px solid darken($blue, 10%);
    }
  }

  &.is-outline-blue {
    color: $blue;
    background: transparent;
    border: 1px solid $blue;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $blue;
      border: 1px solid $blue;
    }
  }

  &.is-indigo {
    color: #fff;
    background: $indigo;
    border: 1px solid $indigo;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($indigo, 10%);
      border: 1px solid darken($indigo, 10%);
    }
  }

  &.is-outline-indigo {
    color: $indigo;
    background: transparent;
    border: 1px solid $indigo;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $indigo;
      border: 1px solid $indigo;
    }
  }

  &.is-purple {
    color: #fff;
    background: $purple;
    border: 1px solid $purple;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($purple, 10%);
      border: 1px solid darken($purple, 10%);
    }
  }

  &.is-outline-purple {
    color: $purple;
    background: transparent;
    border: 1px solid $purple;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $purple;
      border: 1px solid $purple;
    }
  }

  &.is-pink {
    color: #fff;
    background: $pink;
    border: 1px solid $pink;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($pink, 10%);
      border: 1px solid darken($pink, 10%);
    }
  }

  &.is-outline-pink {
    color: $pink;
    background: transparent;
    border: 1px solid $pink;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $pink;
      border: 1px solid $pink;
    }
  }

  &.is-red {
    color: #fff;
    background: $red;
    border: 1px solid $red;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($red, 10%);
      border: 1px solid darken($red, 10%);
    }
  }

  &.is-outline-red {
    color: $red;
    background: transparent;
    border: 1px solid $red;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $red;
      border: 1px solid $red;
    }
  }

  &.is-orange {
    color: #fff;
    background: $orange;
    border: 1px solid $orange;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($orange, 10%);
      border: 1px solid darken($orange, 10%);
    }
  }

  &.is-outline-orange {
    color: $orange;
    background: transparent;
    border: 1px solid $orange;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $orange;
      border: 1px solid $orange;
    }
  }

  &.is-yellow {
    color: #fff;
    background: $yellow;
    border: 1px solid $yellow;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($yellow, 10%);
      border: 1px solid darken($yellow, 10%);
    }
  }

  &.is-outline-yellow {
    color: $yellow;
    background: transparent;
    border: 1px solid $yellow;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $yellow;
      border: 1px solid $yellow;
    }
  }

  &.is-green {
    color: #fff;
    background: $green;
    border: 1px solid $green;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($green, 10%);
      border: 1px solid darken($green, 10%);
    }
  }

  &.is-outline-green {
    color: $green;
    background: transparent;
    border: 1px solid $green;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $green;
      border: 1px solid $green;
    }
  }

  &.is-teal {
    color: #fff;
    background: $teal;
    border: 1px solid $teal;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($teal, 10%);
      border: 1px solid darken($teal, 10%);
    }
  }

  &.is-outline-teal {
    color: $teal;
    background: transparent;
    border: 1px solid $teal;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $teal;
      border: 1px solid $teal;
    }
  }

  &.is-cyan {
    color: #fff;
    background: $cyan;
    border: 1px solid $cyan;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: darken($cyan, 10%);
      border: 1px solid darken($cyan, 10%);
    }
  }

  &.is-outline-cyan {
    color: $cyan;
    background: transparent;
    border: 1px solid $cyan;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $cyan;
      border: 1px solid $cyan;
    }
  }
}
 */